{% extends '_base.html' %}

{% block layout %}
    {% include '_includes/_hero.html' %}

    <content id="content"
             class="htmx-fade-in htmx-fade-out tw-grid tw-grid-cols-3 md:tw-my-6 xl:tw-grid-cols-5">
        <filter id="aside-group"
                class="tw-sticky tw-top-[60px] tw-col-span-full tw-mb-6 tw-z-20 tw-order-1
                htmx-fade-in htmx-fade-out
                md:tw-block md:tw-col-span-1 md:tw-order-2">
            <div id="accordionProblemFilter" class="accordion md:tw-hidden">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseProblemFilter" aria-expanded="true"
                                aria-controls="collapseProblemFilter">
                            문제 필터
                        </button>
                    </h2>
                </div>
            </div>
            <div class="accordion tw-sticky tw-top-[84px] tw-col-span-full tw-order-1
                 htmx-fade-in htmx-fade-out
                 md:!tw-block md:tw-pr-6 md:tw-order-2">
                <div class="accordion-item">
                    <div id="collapseProblemFilter" class="accordion-collapse collapse show"
                         data-bs-parent="#accordionProblemFilter">
                        <div class="accordion-body p-0">
                            {% include 'a_psat/_includes/_sidebar_psat.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </filter>

        <main id="main"
              class="tw-col-span-full tw-order-2 !tw-mt-0 !tw-pt-0 !tw-px-6
              md:tw-pr-0 md:tw-col-span-2 md:tw-order-1
              xl:tw-col-span-4 xl:tw-grid xl:tw-grid-cols-2 xl:tw-gap-x-6">
            {% block content %}{% endblock %}
        </main>
    </content>
{% endblock layout %}
