{% extends '_base.html' %}

{% block layout %}
    {% include '_includes/_hero.html' %}

    <content id="content" class="htmx-fade-in htmx-fade-out">
        <div class="grid grid-cols-3 max-w-7xl mx-auto md:my-6">
            <aside-group id="aside-group" x-data="{ mobileSidebarOpen: false }"
                         class="sticky top-20 bg-white col-span-full mb-6 z-20 px-6
                         md:block md:bg-transparent md:px-0 md:col-span-1
                         lg:mr-[20%] order-1 md:order-2 htmx-fade-in htmx-fade-out">
                <a class="cursor-pointer select-none font-bold hover:bg-gray-200 md:hidden"
                   @click="mobileSidebarOpen = !mobileSidebarOpen">
                    <span class="flex items-center mx-auto p-6">
                        문제 필터
                        <img x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'"
                             class="w-4 ml-1.5" src="https://img.icons8.com/small/32/000000/expand-arrow.png" />
                    </span>
                </a>
                <aside id="aside"
                       x-show="mobileSidebarOpen" x-cloak
                       x-transition:enter="transition ease-in-out duration-300"
                       x-transition:enter-start="opacity-0 -mt-96"
                       x-transition:enter-end="opacity-100 mt-0"
                       x-transition:leave="transition ease-in-out duration-300"
                       x-transition:leave-start="opacity-100"
                       x-transition:leave-end="opacity-0"
                       class="sticky top-28 col-span-full order-1 htmx-fade-in htmx-fade-out
                       md:!block md:pr-6 md:order-2">
                    {% include 'a_psat/_includes/_sidebar_psat.html' %}
                </aside>
            </aside-group>

            <main id="main"
                  class="col-span-full px-6 order-2
                  md:pr-0 md:col-span-2 md:mr-[5%] md:order-1
                  lg:mx-[10%]">
                {% block content %}{% endblock %}
            </main>

        </div>
    </content>
{% endblock layout %}
