{% extends '_base.html' %}

{% block layout %}
    <content id="content" class="htmx-fade-in htmx-fade-out">
        <div class="max-w-full my-6 px-6"
             x-data="{ mobileSidebarOpen: false }">
            <main id="main">
                {% block content %}{% endblock %}
            </main>
        </div>
    </content>
{% endblock layout %}

{% partialdef htmx_page %}
    <hero id="hero" hx-swap-oob="#outerHTML"></hero>
    <div class="max-w-full my-6 px-6"
         x-data="{ mobileSidebarOpen: false }">
        <main id="main">
            {% include 'a_psat/problem_page.html#problem_card' %}
        </main>
    </div>
{% endpartialdef htmx_page %}
