{% extends 'a_psat/_layouts/_b.html' %}
{% load static %}
{% load psat_icon %}

{% block content %}
    {% partialdef problem_card inline=True %}
    <article class="card">
        {% with p=problem %}
            <div class="grid bg-gray-700 text-white bg-cover z-10 relative">
                <div class="col-start-1 row-start-1 bg-opacity-40 w-full h-full
                    {% if p.sub == '언어' %}bg-blue-600
                    {% elif p.sub == '자료' %}bg-emerald-600
                    {% elif p.sub == '상황' %}bg-amber-600{% endif %}">
                </div>
                <div class="col-start-1 row-start-1 p-4">
                    <a class="flex items-center gap-1"
                       href="{% url 'psat:problem' p.id %}">
                        <span class="font-bold hover:underline">
                            {{ p.year }}년 {{ p.exam }} {{ p.subject }} {{ p.number }}번
                        </span>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-end gap-2 p-4">
                {% tag_icon_like user problem %}
                {% tag_icon_rate user problem %}
                {% tag_icon_solve user problem %}
            </div>
            <figure class="lg:grid lg:grid-cols-2">
                {% if p.images.tag1 == 'Preparing Image' %}
                    <img class="max-w-[100%] mx-auto" alt="{{ p.images.tag1 }}"
                         src="{{ p.images.name1 }}"/>
                {% elif p.images.name2 %}
                    <div class="lg:col-start-1">
                        <img class="w-full"
                             data-bs-toggle="modal" data-bs-target="#modalContainerPsat"
                             alt="{{ p.images.tag1 }}" src="{{ p.images.name1 }}"/>
                    </div>
                    <div class="lg:col-start-2">
                        <img class="w-full"
                             data-bs-toggle="modal" data-bs-target="#modalContainerPsat"
                             alt="{{ p.images.tag2 }}" src="{{ p.images.name2 }}"/>
                    </div>
                {% else %}
                    <img class="max-w-[100%] mx-auto"
                         data-bs-toggle="modal" data-bs-target="#modalContainerPsat"
                         alt="{{ p.images.tag1 }}" src="{{ p.images.name1 }}"/>
                {% endif %}
            </figure>
            <div class="p-4 pb-2">
        {% endwith %}
            <div class="flex items-center justify-between text-sm px-2">
                <a class="font-bold hover:underline" href="">
                    {% if problem.comments.count %}
                        Comments
                        <span id="commentsCount-{{ problem.id }}"
                              class="font-light text-gray-500 ml-1">
                            {{ problem.comments.count }}
                        </span>
                    {% else %}
                        {% if user.is_authenticated %}Add comment{% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
    </article>
    {% endpartialdef problem_card %}
{% endblock content %}