{% extends 'a_psat/_layouts/_b.html' %}
{% load psat_templatetags %}

{% block content %}
    {% partialdef problem_card inline=True %}
        <article class="card">
            {% include 'a_psat/problem.html#card_header' %}

            <div class="flex items-center justify-end gap-2 p-4">
                {% container_icon_like user problem %}
                {% container_icon_rate user problem %}
                {% container_icon_solve user problem %}
            </div>

            {% if problem.images.name1 == 'Preparing Image' %}
                <figure>
                    <img class="max-w-[100%] mx-auto" alt="{{ problem.images.name1 }}"
                         src="{{ problem.images.path1 }}"/>
                </figure>
            {% else %}
                <figure class="lg:grid lg:grid-cols-2">
                    <div class="lg:col-start-1">
                        <img class="w-full" alt="{{ problem.images.name1 }}"
                             src="{{ problem.images.path1 }}"/>
                    </div>
                    <div class="lg:col-start-2">
                        <img class="w-full" alt="{{ problem.images.name2 }}"
                             src="{{ problem.images.path2 }}"/>
                    </div>
                </figure>
            {% endif %}

            <div class="p-4 pb-2">
                {% container_problem_tag user problem %}

                <div class="flex items-center justify-between text-sm px-2">
                    <a class="font-bold hover:underline" href="">
                        {% if problem.comments.count %}
                            Comments
                            <span id="commentsCount-{{ problem.id }}"
                                  class="font-light text-gray-500 ml-1">
                                {{ problem.comments.count }}
                            </span>
                        {% else %}
                            {% if user.is_authenticated %}Add comment{% endif %}
                        {% endif %}
                    </a>
                </div>
            </div>
        </article>
    {% endpartialdef problem_card %}
{% endblock content %}