<fade-in class="tw-opacity-0" _="on load transition my opacity to 1 over 0.2 seconds">
    <div class="tw-w-full lg:tw-w-[50rem] tw-mx-auto">
        {% for comment in comments %}
            <div class="tw-flex tw-gap-2">
                <a href="{% url 'post' comment.parent_post.id %}">
                    <img class="w-20 h-20 object-cover rounded-xl hover:scale-95 max-w-none" src="{{ comment.parent_post.image }}"/>
                </a>
                {% include 'a_posts/comment.html' %}
            </div>
        {% empty %}
            <div class="tw-w-full tw-text-center tw-mt-10">No comments just yet</div>
        {% endfor %}
    </div>
</fade-in>
