<like-problem>
    {% if user.is_authenticated %}
        <a class="tw-cursor-pointer htmx-fade-in htmx-fade-out"
           hx-target="this" hx-swap="innerHTML swap:0.25s"
           hx-post="{{ problem.get_like_url }}">
            {{ icon_like|safe }}
            {{ problem.like_users.count|default_if_none:0 }}
        </a>
    {% else %}
        <a href="{% url 'account_login' %}">
            {{ icon_like|safe }}
            {{ problem.like_users.count|default_if_none:0 }}
        </a>
    {% endif %}
</like-problem>
