{% load static %}
{% load psat_templatetags %}

<rate-problem x-data="{ modalOpen: false }">
    {% if user.is_authenticated %}
        <button id="problemRate{{ problem.id }}"
                class="htmx-fade-in htmx-fade-out"
                @click="modalOpen = true"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-90"
        >{{ icon_rate|safe }}</button>
        <modal class="fixed inset-0 px-2 z-[999] overflow-hidden flex items-center justify-center"
             x-show="modalOpen">
            <modal-overlayer class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                x-cloak x-show="modalOpen"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
            ></modal-overlayer>
            <modal-content class="bg-white rounded-md shadow-xl overflow-hidden max-w-md w-full
                sm:w-96 md:w-1/2 lg:w-2/3 xl:w-1/3 z-50"
                x-cloak x-show="modalOpen" @click.away="modalOpen = false"
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            >
                <modal-header class="flex flex-col items-center justify-center p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h2 class="text-xl font-semibold m-0 text-blue-700 dark:text-white">
                        문제 난이도를 선택해주세요.
                    </h2>
                    <a class="font-bold text-gray-500 hover:underline"
                       href="{{ problem.get_absolute_url }}">
                        {{ problem.full_reference }}
                    </a>
                </modal-header>
                <modal-body class="p-4 text-center text-base">
                    <form class="rate_button" type="button"
                          hx-target="#problemRate{{ problem.id }}" hx-swap="innerHTML swap:0.25s">
                        <fieldset>
                            {% for i in '12345' %}
                                <input id="rating{{ problem.id }}-{{ i }}"
                                       type="radio" name="rating" value="{{ i|subtract:6 }}"
                                       @click="modalOpen = false"
                                       hx-post="{{ problem.get_rate_url }}">
                                <label for="rating{{ problem.id }}-{{ i }}">
                                    <i class="fa fa-star cursor-pointer"></i>
                                </label>
                            {% endfor %}
                        </fieldset>
                    </form>
                </modal-body>
            </modal-content>
        </modal>
    {% else %}
        <a href="{% url 'account_login' %}">
            {{ icon_rate|safe }}
        </a>
    {% endif %}
</rate-problem>
