{% load static %}

<solve-problem x-data="{ modalOpen: false }">
    {% if user.is_authenticated %}
        <button id="problemSolve{{ problem.id }}"
                class="htmx-fade-in htmx-fade-out"
                @click="modalOpen = true"
                x-transition:enter="tw-transition tw-ease-out tw-duration-300"
                x-transition:enter-start="tw-opacity-0 tw-scale-90"
                x-transition:enter-end="tw-opacity-100 tw-scale-100"
                x-transition:leave="tw-transition tw-ease-in tw-duration-300"
                x-transition:leave-start="tw-opacity-100 tw-scale-100"
                x-transition:leave-end="tw-opacity-0 tw-scale-90"
        >{{ icon_solve|safe }}</button>
        <modal class="tw-fixed tw-inset-0 tw-px-2 tw-z-[999] tw-overflow-hidden tw-flex tw-items-center tw-justify-center"
             x-show="modalOpen">
            <modal-overlayer class="tw-absolute tw-inset-0 tw-bg-gray-500 tw-bg-opacity-75 tw-transition-opacity"
                x-cloak x-show="modalOpen"
                x-transition:enter="tw-transition tw-ease-out tw-duration-300 tw-transform"
                x-transition:enter-start="tw-opacity-0"
                x-transition:enter-end="tw-opacity-100"
                x-transition:leave="tw-transition tw-ease-in tw-duration-200 tw-transform"
                x-transition:leave-start="tw-opacity-100"
                x-transition:leave-end="tw-opacity-0"
            ></modal-overlayer>
            <modal-content class="tw-bg-white tw-rounded-md tw-shadow-xl tw-overflow-hidden tw-max-w-md tw-w-full sm:tw-w-96 md:tw-w-1/2 lg:tw-w-2/3 xl:tw-w-1/3 tw-z-50"
                x-cloak x-show="modalOpen" @click.away="modalOpen = false"
                x-transition:enter="tw-transition tw-ease-out tw-duration-300 tw-transform"
                x-transition:enter-start="tw-opacity-0 tw-translate-y-4 sm:tw-translate-y-0 sm:tw-scale-95"
                x-transition:enter-end="tw-opacity-100 tw-translate-y-0 sm:tw-scale-100"
                x-transition:leave="tw-transition tw-ease-in tw-duration-200 tw-transform"
                x-transition:leave-start="tw-opacity-100 tw-translate-y-0 sm:tw-scale-100"
                x-transition:leave-end="tw-opacity-0 tw-translate-y-4 sm:tw-translate-y-0 sm:tw-scale-95"
            >
                <modal-header class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-p-4 md:tw-p-5 tw-border-b tw-rounded-t dark:tw-border-gray-600">
                    <h2 class="tw-text-xl tw-font-semibold tw-m-0 tw-text-green-700 dark:tw-text-white">
                        문제 정답을 선택해주세요.
                    </h2>
                    <a class="tw-font-bold tw-text-gray-500 hover:tw-underline"
                       href="{{ problem.get_absolute_url }}">
                        {{ problem.full_reference }}
                    </a>
                </modal-header>
                <modal-body class="tw-p-4 tw-text-center tw-text-base">
                    <form type="button" hx-target="#solveResult" hx-swap="innerHTML swap:0.25s">
                        <fieldset class="tw-flex tw-gap-1 tw-justify-center">
                            {% for i in '1234' %}
                                <label class="solve_button" for="answer{{ problem.id }}-{{ i }}">
                                    {{ i }}
                                    <input id="answer{{ problem.id }}-{{ i }}" class="hidden"
                                           type="radio" name="answer" value="{{ i }}"
                                           hx-post="{{ problem.get_solve_url }}">
                                </label>
                            {% endfor %}
                            {% if problem.sub != '헌법' %}
                                <label class="solve_button" for="answer{{ problem.id }}-5">
                                    5
                                    <input id="answer{{ problem.id }}-5" class="hidden"
                                           type="radio" name="answer" value="5"
                                           hx-post="{{ problem.get_solve_url }}">
                                </label>
                            {% endif %}
                        </fieldset>
                    </form>
                    <div id="solveResult" class="tw-pt-4 tw-text-center tw-text-lg tw-font-bold htmx-fade-in htmx-fade-out"></div>
                </modal-body>
            </modal-content>
        </modal>
    {% else %}
        <a href="{% url 'account_login' %}">
            {{ icon_solve|safe }}
        </a>
    {% endif %}
</solve-problem>

{% partialdef result %}
    {% if is_correct %}
        <span class="tw-text-green-400">정답입니다.</span>
    {% else %}
        <span class="tw-text-red-700">오답입니다. 다시 풀어보세요.</span>
    {% endif %}

    <button id="problemSolve{{ problem.id }}" hx-swap-oob="innerHTML">
        {{ icon_solve|safe }}
    </button>
{% endpartialdef result %}
