<tag-problem>
    {% if user.is_authenticated %}
        <div class="text-sm mb-2 px-2">
            <input id="problemTag{{ problem.id }}" placeholder='태그를 입력해주세요'>
        </div>

        <script>
            let tagInputProblem{{ view_type }}{{ problem.id }} = document.querySelector('#problemTag{{ problem.id }}')
            let tagifyProblem{{ problem.id }} = new Tagify(tagInputProblem{{ problem.id }}, {
                editTags: false,
                hooks: {
                    beforeRemoveTag : tags => {
                        return new Promise((resolve, reject) => {
                            confirm(`'${tags[0].data.value}' 태그를 삭제할까요?`) ? resolve() : reject()
                        })
                    }
                }
            })

            tagifyProblem{{ problem.id }}.addTags({{ tags|safe }})

            tagifyProblem{{ problem.id }}.on('add', function(e) {
                tagifyAction("{{ problem.get_tag_add_url }}", e.detail.data.value)
            })

            tagifyProblem{{ problem.id }}.on('remove', function(e) {
                tagifyAction("{{ problem.get_tag_remove_url }}", e.detail.data.value)
            })
        </script>
    {% else %}
        <div class="text-sm mb-2 px-2">
            <tags class="tagify justify-center" tabindex="-1">
                <tag class="tagify__tag">
                    <div><a class="tagify__tag-text" href="{% url 'account_login' %}">태그를 입력하시려면 로그인해주세요.</a></div>
                </tag>
            </tags>
        </div>
    {% endif %}
</tag-problem>
