{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome</title>
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/small/64/000000/fire-heart.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">

    {% compress css %}
    {% if debug %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.min.css' %}">
    {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"/>
    {% endcompress %}

    <script src="{% static 'vendor/alpine/alpine@3.14.0.min.js' %}" defer></script>
    <script src="{% static 'vendor/htmx/htmx@1.9.12.min.js' %}"></script>
    <script src="{% static 'vendor/hyperscript/hyperscript@0.9.12.min.js' %}"></script>
    <script src="{% static 'vendor/flowbite/flowbite.min.js' %}"></script>
    <script defer src="{% static 'js/common.js' %}"></script>
</head>
<body class="bg-gray-100"
{#      hx-ext="debug, event-header"#}
{#      hx-ext="event-header"#}
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include '_includes/_messages.html' %}
    {% include '_includes/_header.html' %}
    {% block layout %}{% endblock %}
    <script>
        window.addEventListener("scroll", function() {
            const distance = window.scrollY
            const herotext = document.querySelector(".herotext-anim");
            const opacity = 1 - distance / (window.innerHeight * 0.15);
            herotext.style.transform = `translateY(${distance * 0.7}px)`;
            herotext.style.opacity = opacity;
        });
    </script>
</body>
</html>
