{% extends '_layouts/_b.html' %}

{% block content %}
    <h1>Edit Post</h1>
    <div class="card tw-p-4">
        <div class="tw-flex tw-items-center tw-mb-4">
            <img class="tw-w-20 tw-h-20 tw-object-cover tw-rounded-xl tw-mr-4" src="{{ post.image }}"/>
            <h3 class="tw-text-lg tw-font-bold">{{ post.title }}</h3>
        </div>

        <div class="tw-pb-2">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="tw-pt-4">
                    <button type="submit">Submit</button>
                    <a class="button secondaryAction tw-ml-1" href="">Go Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
