{% extends '_layouts/_a.html' %}

{% block content %}
    {% include 'a_posts/post.html' %}

    {% if user.is_authenticated %}
        <div class="card !tw-pb-0 -tw-mt-3">
            <form class="tw-flex tw-items-center tw-p-4" autocomplete="off"
                  _="on htmx:afterRequest reset() me"
                  hx-target="#tab-contents" hx-swap="afterbegin"
                  hx-post="{% url 'comment-sent' post.id %}">
                {% csrf_token %}
                {{ comment_form.body }}
                <button @click="open = false" class="tw-block tw-ml-2" type="submit">Submit</button>
            </form>
        </div>
    {% endif %}

    <div class="tw-mb-20">
        <div id="tabs" class="tw-ml-4 tw-flex tw-gap-1 tw-mb-4{% if not post.comments.count %} tw-hidden{% endif %}"
             _="on htmx:afterOnLoad take .selected for event.target"
             hx-target="#tab-contents" hx-swap="innerHTML">
            <a class="tab selected" hx-get="{% url 'post' post.id %}">Newest First</a>
            <a class="tab" hx-get="{% url 'post' post.id %}?top">Top Comments</a>
        </div>

        <div id="tab-contents">
            {% for comment in post.comments.all %}
                {% include 'a_posts/comment.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}
