{% extends '_layouts/_b.html' %}

{% block content %}
    <div class="md:tw-flex tw-items-center">
        <div class="tw-w-full md:tw-max-w-sm tw-mr-6 md:[&>*>*>p]:tw-text-4xl">
            {% include 'a_posts/post.html' %}
        </div>
        <div>
            <h1>Delete Post</h1>
            <p class="tw-mb-6">Are you sure you want to delete this post?</p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit">Confirm</button>
                <a class="button secondaryAction tw-ml-1" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            </form>
        </div>
    </div>
{% endblock content %}
